@model Ecommerce.Models.CarrelloProdotti

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarrelloProdotti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrelloId" class="control-label"></label>
                <select asp-for="CarrelloId" class ="form-control" asp-items="ViewBag.CarrelloId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdottoId" class="control-label"></label>
                <select asp-for="ProdottoId" class ="form-control" asp-items="ViewBag.ProdottoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
